@import url(header.css);

:root{
    --cor-de-fundo: hsl(0, 0%, 0%);
    --cor-cabecalho: hsla(231, 90%, 59%, 0.596);
}

body{
    background-color: var(--cor-de-fundo);
    margin: 0;
}

.container__imagem{
    width: 10%;
}

.coreo{
    width: 70%;
    padding: 0 0 0 18em;
}